In [ ]:
#pour realiser ce projet nous allons repondre a ses differentes questios ki peuvent etre pose par le cleint


#Ses differentes questions vont permmetre de repondre au cote business de l'entreprise


#Nous allons nous bases sur les donnes de vente mensuelles d'une entreprise
#voici les questions qui peuvent permettre aux responsables de prendre de bonne decision

#Quel es le mois durant lekel nous avons realise le meilleur chiffre d'affaire
#Dans quelle ville nous avons enregsitre un maximum de vente
#En quel moment nous devons faire une campagne publicitaire pour avoir plus de vente
# quel produit se vend le plus

In [22]:
#importer les packages
import os  # permet d'explorer les fichiers pour les manipuler car on'a plusieurs fichiers a manipuler
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
# collecter les noms des fichiers(datasets)
files=[file for file in os.listdir(r'C:\Users\DAVID T\Downloads\data-sales-main')]
for file in files:
    print(file)

base_donne_tous_ficheirs
Sales_April_2019.csv
Sales_August_2019.csv
Sales_December_2019.csv
Sales_February_2019.csv
Sales_January_2019.csv
Sales_July_2019.csv
Sales_June_2019.csv
Sales_March_2019.csv
Sales_May_2019.csv
Sales_November_2019.csv
Sales_October_2019.csv
Sales_September_2019.csv

In [27]:
#regroupons les maitenant dans un seul fichier
path=r'C:\Users\DAVID T\Downloads\data-sales-main'

#creons une base de donne vide ou on va stocker tous les contenus des fichers
base_donne_tous_ficheirs = pd.DataFrame()

#Ajoutons chaque nom de fichier dans notre base de donnee

for file in files:
    base_donne_nom_unique=pd.read_csv(path+'/'+file)
    base_donne_tous_ficheirs = pd.concat([base_donne_tous_ficheirs,base_donne_nom_unique])
print(base_donne_tous_ficheirs)

EmptyDataError: No columns to parse from file

In [6]:
# si je veux les donnes du mois de janvier

# donc les donnes de janvier c 9723
donne_janvier=pd.read_csv(path+'/Sales_January_2019.csv')
donne_janvier

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"
...,...,...,...,...,...,...
9718,150497,20in Monitor,1,109.99,01/26/19 19:09,"95 8th St, Dallas, TX 75001"
9719,150498,27in FHD Monitor,1,149.99,01/10/19 22:58,"403 7th St, San Francisco, CA 94016"
9720,150499,ThinkPad Laptop,1,999.99,01/21/19 14:31,"214 Main St, Portland, OR 97035"
9721,150500,AAA Batteries (4-pack),2,2.99,01/15/19 14:21,"810 2nd St, Los Angeles, CA 90001"
9722,150501,Google Phone,1,600,01/13/19 16:43,"428 Cedar St, Boston, MA 02215"

In [7]:
# Mettons maintenant toutes les donnes dans un seul fichier
# convertissons donc notre base de donne en un ficher csv et donnons lui un nom
#regarder dans l'explorateur de fichier il a ete cree et ajoute otomatikement

base_donne_tous_ficheirs.to_csv(path+'/base_donne_tous_ficheirs',index=False)

In [8]:
# voyons le type de contenu de notre base de donne

base_donne_tous_ficheirs.dtypes

Series([], dtype: object)

In [10]:
base_donne_tous_ficheirs.head()

  Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0  176558,USB-C Charging Cable,2,11.95,04/19/19 0...
1                                              ,,,,,
2  176559,Bose SoundSport Headphones,1,99.99,04/0...
3  176560,Google Phone,1,600,04/12/19 14:38,"669 ...
4  176560,Wired Headphones,1,11.99,04/12/19 14:38...

In [10]:
#voyons maintenant les valeurs manquantes
base_donne_tous_ficheirs.isnull().sum()

Series([], dtype: float64)

In [11]:
#supprimer les valeurs manquantes

#la maintenant on vit kon'a 186850 lignes alors kon'en avait 186850
base_donne_tous_ficheirs= base_donne_tous_ficheirs.dropna(how='all')
base_donne_tous_ficheirs.shape

(0, 0)

In [12]:
#Repondons maintenant a la question de savoir kel es le mois ou nous avons realise le plus grand chiffre d'affaire

#il faut d'abord extraire tous les mois de la base de donnes
# enseuite calculer le montant pour chaque mois

# ici je filtre pour recuperer juste le mois en utilisant la fonction split de python
#et la je reupere la 1ere valeur donc j'extraire le mois a partir d'une date
#la date dans la base de donne est au format mois-annee-jour

#on met / car ils sont separe par des /

def month(x):
    return x.split('/')[0]

In [18]:
# creons une nouvelle colonne appele mois

base_donne_tous_ficheirs['Month']=base_donne_tous_ficheirs['Order Date'].apply
(lambda x: datetime.datetime.strptime(x, "%Y-%m-%d").month)
base_donne_tous_ficheirs

KeyError: 'Order Date'

In [19]:
# voyons toutes les colonnes de notre base de donne
base_donne_tous_ficheirs.columns

RangeIndex(start=0, stop=0, step=1)

In [28]:
#voyons les differents mois qu'on'a

base_donne_tous_ficheirs['Month'].unique()

KeyError: 'Month'

In [29]:
# il ya le champ Order Date qui apparait dans la liste des mois applikons un petit filtre pour essayer de la 
#supprimer
# donc on va prendre la valeur du mois differents de Order Date
base_donne_tous_ficheirs=base_donne_tous_ficheirs[base_donne_tous_ficheirs['Month']!='Order Date']
base_donne_tous_ficheirs['Month'].unique()

KeyError: 'Month'

In [30]:
# permet de voir le type de nos differentes colonnes
base_donne_tous_ficheirs.dtypes

Series([], dtype: object)

In [ ]:
# le mois est de type Object faison kil soit de type entier

# La on verra que le type a change

base_donne_tous_ficheirs["Month"]=base_donne_tous_ficheirs['Month'].astype(int)
base_donne_tous_ficheirs.dtypes

In [ ]:
# on'a donc deja extraire le mois


#changeons d'abord le type du prix et de la quantite

base_donne_tous_ficheirs["Quantity Ordered "]=base_donne_tous_ficheirs['Quantity Ordered '].astype(int)
base_donne_tous_ficheirs["Price Each"]=base_donne_tous_ficheirs['Price Each'].astype(float)

base_donne_tous_ficheirs.dtypes

# on verra donc ke le type de la quantite et du prix ont change

In [ ]:
# creons maintenant une nouvelle colonne ke nous allons appeler chiffre d'affaire

# on'aura donc une colone chiffre d'affaire ki va s'ajouter avec les prix fois la quantite

base_donne_tous_ficheirs['ChiffreAffaire']=base_donne_tous_ficheirs['Quantity Ordered']*base_donne_tous_ficheirs['Price Each']
base_donne_tous_ficheirs

In [ ]:
# essayons maintenant de grouper afin de trouver le mois avec le meilleur chiffre d'affaire

base_donne_tous_ficheirs.groupby('Month')['ChiffreAffaire'].sum()

In [ ]:
# la ce n'est pas bien claire utilisaons la visualisation afin ke ca soit plus lisible

# resortons donc notre diagramme avec le chiffre d'affaire de chaque mois

# donc la reponse a notre question es claire le mois avec le plus grand chiffre d'affaire est le mois 12

months=range(1,13)
plt.bar(months,base_donne_tous_ficheirs.groupby('Month')['ChiffreAffaire'].sum())
plt.xticks(months)
plt.ylabel('Montant vendu en FCFA')
plt.xlabel('Mois des ventes')
plt.show()

In [ ]:
# repondons maintenant a la 2e kestion ki est de savoir
# quel est la vile ki realise le plus de vente
#pour repondre a cet kestion il faut extraire l'information Ville a partir de chaque ville

#une fois kon'a extraire la ville on va calculer le chiffre d'affaire 
# et on va trouver la ville ki realise le meilleur chiffre d'affaire

In [ ]:
# faisons un exemple en divisant une adresse de notre base de donne

# ca va diviser cet chaine de caractere en des caracteres differents

'944 Walnut St, Boston, MA 02215'.split(',')

In [ ]:
#pour extraire la ville on va prendre l'indice 1
'944 Walnut St, Boston, MA 02215'.split(',')[1]

In [ ]:
#ecrivons donc une fonction pour le faire

def city(x)
    return x.split(',')[1]

In [ ]:
#Appliquons la maintenant a la colone Purchase Address

#creons une nouvelle colone appele CCity

base_donne_tous_ficheirs['CCity']=base_donne_tous_ficheirs['Purchase Address'].apply(city)
base_donne_tous_ficheirs

In [ ]:
# comptons maintenant le nombre de commande pour chaque ville
#donc la on'aura le nom de la ville avec le nombre de commande por chaque ville
base_donne_tous_ficheirs.groupby('CCity')['city'].count()

In [ ]:
#pour essayer de mieux voir ca faisons une visualisation

# on voit donc que la ville ki a le plus de commande est san Franscico 

# la ville avec le moins de commande est Ostin donc on peut se poser les questions
#donc on doit se demander exkil ya un probleme d'emplacement
#eskil ya un pb au niveau du commercial

# donc la on peut pousser l'entreprise a prendre des decisions a partir de ce visuel

plt.bar(base_donne_tous_ficheirs.groupby('CCity')['city'].count().index,base_donne_tous_ficheirs.groupby('CCity')['city'].count())
plt.xticks(rotation='vertical')
plt.ylabel('Received Order')
plt.xlabel('city name')
plt.show()

In [ ]:
#Nous sommes a la 3e question qui est de savoir

#Quand escekon peut realiser une campagne publicitaire pour avoir le plus de commande

#la on va s'interresser a l'heure des commandes

In [ ]:
# on va donc extraire l'heure en utilisant une fonction temporaire dateTime
#dt.hour permet d'extraire l'heure d'une donne temporelle

#il va creer une nouvelle colone apele Heure extraire les heures et les stocker a l'interieur

base_donne_tous_ficheirs['Heure']=pd.to_datetime(base_donne_tous_ficheirs['Order Date']).dt.hour